<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fc.crm.dao.AccountDao">

	<select id="get" resultType="com.fc.crm.domain.AccountDO">
		SELECT 
			id,member_id,account,account_type,points,start_time,end_time,status			 
		FROM t_account 
		where id = #{value}
	</select>

	<select id="list" resultType="com.fc.crm.domain.AccountDO">
		SELECT 
			id, member_id, account, account_type, points, start_time, end_time, status 		
		FROM t_account 
        <where>
          
		  		  <if test="id != null and id != ''">
		  		  	AND id = #{id}   
		  		  </if>
		  		  <if test="memberId != null and memberId != ''">
		  		  	AND member_id = #{memberId}   
		  		  </if>
		  		  <if test="account != null and account != ''">
		  		  	AND account = #{account}   
		  		  </if>
		  		  <if test="accountType != null and accountType != ''">
		  		  	AND account_type LIKE '%${ accountType}%'  
		  		  </if>
		  		  <if test="points != null and points != ''">
		  		  	AND points LIKE '%${ points}%'  
		  		  </if>
		  		  <if test="startTime != null and startTime != ''">
		  		  	AND start_time LIKE '%${ startTime}%'  
		  		  </if>
		  		  <if test="endTime != null and endTime != ''">
		  		  	AND end_time LIKE '%${ endTime}%'  
		  		  </if>
		  		  <if test="status != null and status != ''">
		  		  	AND status LIKE '%${ status}%'  
		  		  </if>
		  		  
		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                ORDER BY ${sort} ${order}
            </when>
			<otherwise>
                ORDER BY id DESC
			</otherwise>
        </choose>
	</select>
	
 	<select id="findDatas" resultType="Map">
		select 
			*  
		from t_account
		 <where>  
		 
		   		  <if test="id != null and id != ''">
		  		  	AND id = #{id}   
		  		  </if>
		  		  <if test="memberId != null and memberId != ''">
		  		  	AND member_id = #{memberId}   
		  		  </if>
		  		  <if test="account != null and account != ''">
		  		  	AND account = #{account}   
		  		  </if>
		  		  <if test="accountType != null and accountType != ''">
		  		  	AND account_type LIKE '%${ accountType}%'  
		  		  </if>
		  		  <if test="points != null and points != ''">
		  		  	AND points LIKE '%${ points}%'  
		  		  </if>
		  		  <if test="startTime != null and startTime != ''">
		  		  	AND start_time LIKE '%${ startTime}%'  
		  		  </if>
		  		  <if test="endTime != null and endTime != ''">
		  		  	AND end_time LIKE '%${ endTime}%'  
		  		  </if>
		  		  <if test="status != null and status != ''">
		  		  	AND status LIKE '%${ status}%'  
		  		  </if>
		  		  
		</where>
	</select>
	 
	<insert id="save" parameterType="com.fc.crm.domain.AccountDO">
				<!-- 
		<selectKey keyProperty="id" resultType="Integer" order="BEFORE"> 
            SELECT sys_seq('t_account') 
    	</selectKey> -->
    	    	
		insert into t_account 
		(
		
			id, 
			member_id, 
			account, 
			account_type, 
			points, 
			start_time, 
			end_time, 
			status
		)
		values
		(
		
		    sys_seq('t_account')  , 		    
			#{memberId, jdbcType=VARCHAR}, 			
			#{account, jdbcType=VARCHAR}, 			
			#{accountType, jdbcType=VARCHAR}, 			
			#{points, jdbcType=VARCHAR}, 			
			#{startTime, jdbcType=VARCHAR}, 			
			#{endTime, jdbcType=VARCHAR}, 			
			#{status, jdbcType=VARCHAR}			
		)
	</insert>
	 
	<update id="update" parameterType="com.fc.crm.domain.AccountDO">
		update t_account 
		<set>
			<if test="memberId != null">member_id = #{memberId}, </if>
			<if test="account != null">account = #{account}, </if>
			<if test="accountType != null">account_type = #{accountType}, </if>
			<if test="points != null">points = #{points}, </if>
			<if test="startTime != null">start_time = #{startTime}, </if>
			<if test="endTime != null">end_time = #{endTime}, </if>
			<if test="status != null">status = #{status}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from t_account where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from t_account where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>