<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fc.crm.dao.CourseDao">

	<select id="get" resultType="com.fc.crm.domain.CourseDO">
		SELECT 
			id,dept_id,course_name,price,course_detail,course_type,lesson_period,cost_price			 
		FROM t_course 
		where id = #{value}
	</select>

	<select id="list" resultType="com.fc.crm.domain.CourseDO">
		SELECT 
			id, dept_id, course_name, price, course_detail, course_type, lesson_period, cost_price 		
		FROM t_course 
        <where>
          
		  		  <if test="id != null and id != ''">
		  		  	AND id = #{id}   
		  		  </if>
		  		  <if test="deptId != null and deptId != ''">
		  		  	AND dept_id LIKE '%${ deptId}%'  
		  		  </if>
		  		  <if test="courseName != null and courseName != ''">
		  		  	AND course_name LIKE '%${ courseName}%'  
		  		  </if>
		  		  <if test="price != null and price != ''">
		  		  	AND price = #{price}   
		  		  </if>
		  		  <if test="courseDetail != null and courseDetail != ''">
		  		  	AND course_detail LIKE '%${ courseDetail}%'  
		  		  </if>
		  		  <if test="courseType != null and courseType != ''">
		  		  	AND course_type LIKE '%${ courseType}%'  
		  		  </if>
		  		  <if test="lessonPeriod != null and lessonPeriod != ''">
		  		  	AND lesson_period = #{lessonPeriod}   
		  		  </if>
		  		  <if test="costPrice != null and costPrice != ''">
		  		  	AND cost_price = #{costPrice}   
		  		  </if>
		  		  
		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                ORDER BY ${sort} ${order}
            </when>
			<otherwise>
                ORDER BY id DESC
			</otherwise>
        </choose>
	</select>
	
 	<select id="findDatas" resultType="Map">
		select 
			*  
		from t_course
		 <where>  
		 
		   		  <if test="id != null and id != ''">
		  		  	AND id = #{id}   
		  		  </if>
		  		  <if test="deptId != null and deptId != ''">
		  		  	AND dept_id LIKE '%${ deptId}%'  
		  		  </if>
		  		  <if test="courseName != null and courseName != ''">
		  		  	AND course_name LIKE '%${ courseName}%'  
		  		  </if>
		  		  <if test="price != null and price != ''">
		  		  	AND price = #{price}   
		  		  </if>
		  		  <if test="courseDetail != null and courseDetail != ''">
		  		  	AND course_detail LIKE '%${ courseDetail}%'  
		  		  </if>
		  		  <if test="courseType != null and courseType != ''">
		  		  	AND course_type LIKE '%${ courseType}%'  
		  		  </if>
		  		  <if test="lessonPeriod != null and lessonPeriod != ''">
		  		  	AND lesson_period = #{lessonPeriod}   
		  		  </if>
		  		  <if test="costPrice != null and costPrice != ''">
		  		  	AND cost_price = #{costPrice}   
		  		  </if>
		  		  
		</where>
	</select>
	 
	<insert id="save" parameterType="com.fc.crm.domain.CourseDO">
				<!-- 
		<selectKey keyProperty="id" resultType="Integer" order="BEFORE"> 
            SELECT sys_seq('t_course') 
    	</selectKey> -->
    	    	
		insert into t_course 
		(
		
			id, 
			dept_id, 
			course_name, 
			price, 
			course_detail, 
			course_type, 
			lesson_period, 
			cost_price
		)
		values
		(
		
		    sys_seq('t_course')  , 		    
			#{deptId, jdbcType=VARCHAR}, 			
			#{courseName, jdbcType=VARCHAR}, 			
			#{price, jdbcType=VARCHAR}, 			
			#{courseDetail, jdbcType=VARCHAR}, 			
			#{courseType, jdbcType=VARCHAR}, 			
			#{lessonPeriod, jdbcType=VARCHAR}, 			
			#{costPrice, jdbcType=VARCHAR}			
		)
	</insert>
	 
	<update id="update" parameterType="com.fc.crm.domain.CourseDO">
		update t_course 
		<set>
			<if test="deptId != null">dept_id = #{deptId}, </if>
			<if test="courseName != null">course_name = #{courseName}, </if>
			<if test="price != null">price = #{price}, </if>
			<if test="courseDetail != null">course_detail = #{courseDetail}, </if>
			<if test="courseType != null">course_type = #{courseType}, </if>
			<if test="lessonPeriod != null">lesson_period = #{lessonPeriod}, </if>
			<if test="costPrice != null">cost_price = #{costPrice}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from t_course where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from t_course where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>