<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fc.crm.dao.CurriculumDao">

	<select id="get" resultType="com.fc.crm.domain.CurriculumDO">
		SELECT 
			id,course_id,member_id,classroom_id,start_date,end_date,start_time,end_time,min_num,max_mun,status			 
		FROM t_curriculum 
		where id = #{value}
	</select>

	<select id="list" resultType="com.fc.crm.domain.CurriculumBO">
		SELECT
		t.id, t.course_id,c.course_name,m.username memberName,r.room_name classroomName, t.member_id, t.classroom_id,
		t.start_date, t.end_date, t.start_time, t.end_time, t.min_num, t.max_mun, t.status
		FROM t_curriculum t left join t_course c on t.course_id=c.id left join sys_user m on t.member_id=m.user_id
		left join t_classroom  r on t.classroom_id=r.id
        <where>
          
		  		  <if test="id != null and id != ''">
		  		  	AND t.id = #{id}
		  		  </if>
		  		  <if test="courseName != null and courseName != ''">
		  		  	AND c.course_name  LIKE '%${ courseName}%'
		  		  </if>
		  		  <if test="memberName != null and memberName != ''">
		  		  	AND m.username LIKE '%${ memberName}%'
		  		  </if>
		  		  <if test="status != null and status != ''">
		  		  	AND t.status LIKE '%${ status}%'
		  		  </if>
		  		  
		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                ORDER BY ${sort} ${order}
            </when>
			<otherwise>
                ORDER BY id DESC
			</otherwise>
        </choose>
	</select>
	
 	<select id="findDatas" resultType="Map">
		select 
			*  
		from t_curriculum
		 <where>  
		 
		   		  <if test="id != null and id != ''">
		  		  	AND id = #{id}   
		  		  </if>
		  		  <if test="courseId != null and courseId != ''">
		  		  	AND course_id = #{courseId}   
		  		  </if>
		  		  <if test="memberId != null and memberId != ''">
		  		  	AND member_id = #{memberId}   
		  		  </if>
		  		  <if test="classroomId != null and classroomId != ''">
		  		  	AND classroom_id = #{classroomId}   
		  		  </if>
		  		  <if test="startDate != null and startDate != ''">
		  		  	AND start_date LIKE '%${ startDate}%'  
		  		  </if>
		  		  <if test="endDate != null and endDate != ''">
		  		  	AND end_date LIKE '%${ endDate}%'  
		  		  </if>
		  		  <if test="startTime != null and startTime != ''">
		  		  	AND start_time LIKE '%${ startTime}%'  
		  		  </if>
		  		  <if test="endTime != null and endTime != ''">
		  		  	AND end_time LIKE '%${ endTime}%'  
		  		  </if>
		  		  <if test="minNum != null and minNum != ''">
		  		  	AND min_num = #{minNum}   
		  		  </if>
		  		  <if test="maxMun != null and maxMun != ''">
		  		  	AND max_mun = #{maxMun}   
		  		  </if>
		  		  <if test="status != null and status != ''">
		  		  	AND status LIKE '%${ status}%'  
		  		  </if>
		  		  
		</where>
	</select>
	 
	<insert id="save" parameterType="com.fc.crm.domain.CurriculumDO">
				<!-- 
		<selectKey keyProperty="id" resultType="Integer" order="BEFORE"> 
            SELECT sys_seq('t_curriculum') 
    	</selectKey> -->
    	    	
		insert into t_curriculum 
		(
		
			id, 
			course_id, 
			member_id, 
			classroom_id, 
			start_date, 
			end_date, 
			start_time, 
			end_time, 
			min_num, 
			max_mun, 
			status
		)
		values
		(
		
		    sys_seq('t_curriculum')  , 		    
			#{courseId, jdbcType=VARCHAR}, 			
			#{memberId, jdbcType=VARCHAR}, 			
			#{classroomId, jdbcType=VARCHAR}, 			
			#{startDate, jdbcType=VARCHAR}, 			
			#{endDate, jdbcType=VARCHAR}, 			
			#{startTime, jdbcType=VARCHAR}, 			
			#{endTime, jdbcType=VARCHAR}, 			
			#{minNum, jdbcType=VARCHAR}, 			
			#{maxMun, jdbcType=VARCHAR}, 			
			#{status, jdbcType=VARCHAR}			
		)
	</insert>
	 
	<update id="update" parameterType="com.fc.crm.domain.CurriculumDO">
		update t_curriculum 
		<set>
			<if test="courseId != null">course_id = #{courseId}, </if>
			<if test="memberId != null">member_id = #{memberId}, </if>
			<if test="classroomId != null">classroom_id = #{classroomId}, </if>
			<if test="startDate != null">start_date = #{startDate}, </if>
			<if test="endDate != null">end_date = #{endDate}, </if>
			<if test="startTime != null">start_time = #{startTime}, </if>
			<if test="endTime != null">end_time = #{endTime}, </if>
			<if test="minNum != null">min_num = #{minNum}, </if>
			<if test="maxMun != null">max_mun = #{maxMun}, </if>
			<if test="status != null">status = #{status}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from t_curriculum where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from t_curriculum where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>