<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fc.crm.dao.EmployeeInfoDao">

	<select id="get" resultType="com.fc.crm.domain.EmployeeInfoDO">
		SELECT 
			phoneNumber,idCard,nation,huKouType,maritalStatus,emergencyContact,emergencyContactPhone,highestDegree,graduateSchool,professional,graduatioTime,natureAcademicQualifications,joinWorkTime,enterCompanyTime,operatPost,jobPosition,durationEmpTime,politicalLandscape			 
		FROM t_employee_info 
		where phoneNumber = #{value}
	</select>

	<select id="list" resultType="com.fc.crm.domain.EmployeeInfoDO">
		SELECT 
			phoneNumber, idCard, nation, huKouType, maritalStatus, emergencyContact, emergencyContactPhone, highestDegree, graduateSchool, professional, graduatioTime, natureAcademicQualifications, joinWorkTime, enterCompanyTime, operatPost, jobPosition, durationEmpTime, politicalLandscape 		
		FROM t_employee_info 
        <where>
          
		  		  <if test="phonenumber != null and phonenumber != ''">
		  		  	AND phoneNumber LIKE '%${ phonenumber}%'  
		  		  </if>
		  		  <if test="idcard != null and idcard != ''">
		  		  	AND idCard LIKE '%${ idcard}%'  
		  		  </if>
		  		  <if test="nation != null and nation != ''">
		  		  	AND nation LIKE '%${ nation}%'  
		  		  </if>
		  		  <if test="hukoutype != null and hukoutype != ''">
		  		  	AND huKouType LIKE '%${ hukoutype}%'  
		  		  </if>
		  		  <if test="maritalstatus != null and maritalstatus != ''">
		  		  	AND maritalStatus LIKE '%${ maritalstatus}%'  
		  		  </if>
		  		  <if test="emergencycontact != null and emergencycontact != ''">
		  		  	AND emergencyContact LIKE '%${ emergencycontact}%'  
		  		  </if>
		  		  <if test="emergencycontactphone != null and emergencycontactphone != ''">
		  		  	AND emergencyContactPhone LIKE '%${ emergencycontactphone}%'  
		  		  </if>
		  		  <if test="highestdegree != null and highestdegree != ''">
		  		  	AND highestDegree LIKE '%${ highestdegree}%'  
		  		  </if>
		  		  <if test="graduateschool != null and graduateschool != ''">
		  		  	AND graduateSchool LIKE '%${ graduateschool}%'  
		  		  </if>
		  		  <if test="professional != null and professional != ''">
		  		  	AND professional LIKE '%${ professional}%'  
		  		  </if>
		  		  <if test="graduatiotime != null and graduatiotime != ''">
		  		  	AND graduatioTime LIKE '%${ graduatiotime}%'  
		  		  </if>
		  		  <if test="natureacademicqualifications != null and natureacademicqualifications != ''">
		  		  	AND natureAcademicQualifications LIKE '%${ natureacademicqualifications}%'  
		  		  </if>
		  		  <if test="joinworktime != null and joinworktime != ''">
		  		  	AND joinWorkTime LIKE '%${ joinworktime}%'  
		  		  </if>
		  		  <if test="entercompanytime != null and entercompanytime != ''">
		  		  	AND enterCompanyTime LIKE '%${ entercompanytime}%'  
		  		  </if>
		  		  <if test="operatpost != null and operatpost != ''">
		  		  	AND operatPost LIKE '%${ operatpost}%'  
		  		  </if>
		  		  <if test="jobposition != null and jobposition != ''">
		  		  	AND jobPosition LIKE '%${ jobposition}%'  
		  		  </if>
		  		  <if test="durationemptime != null and durationemptime != ''">
		  		  	AND durationEmpTime LIKE '%${ durationemptime}%'  
		  		  </if>
		  		  <if test="politicallandscape != null and politicallandscape != ''">
		  		  	AND politicalLandscape LIKE '%${ politicallandscape}%'  
		  		  </if>
		  		  
		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                ORDER BY ${sort} ${order}
            </when>
			<otherwise>
                ORDER BY phoneNumber DESC
			</otherwise>
        </choose>
	</select>
	
 	<select id="findDatas" resultType="Map">
		select 
			*  
		from t_employee_info
		 <where>  
		 
		   		  <if test="phonenumber != null and phonenumber != ''">
		  		  	AND phoneNumber LIKE '%${ phonenumber}%'  
		  		  </if>
		  		  <if test="idcard != null and idcard != ''">
		  		  	AND idCard LIKE '%${ idcard}%'  
		  		  </if>
		  		  <if test="nation != null and nation != ''">
		  		  	AND nation LIKE '%${ nation}%'  
		  		  </if>
		  		  <if test="hukoutype != null and hukoutype != ''">
		  		  	AND huKouType LIKE '%${ hukoutype}%'  
		  		  </if>
		  		  <if test="maritalstatus != null and maritalstatus != ''">
		  		  	AND maritalStatus LIKE '%${ maritalstatus}%'  
		  		  </if>
		  		  <if test="emergencycontact != null and emergencycontact != ''">
		  		  	AND emergencyContact LIKE '%${ emergencycontact}%'  
		  		  </if>
		  		  <if test="emergencycontactphone != null and emergencycontactphone != ''">
		  		  	AND emergencyContactPhone LIKE '%${ emergencycontactphone}%'  
		  		  </if>
		  		  <if test="highestdegree != null and highestdegree != ''">
		  		  	AND highestDegree LIKE '%${ highestdegree}%'  
		  		  </if>
		  		  <if test="graduateschool != null and graduateschool != ''">
		  		  	AND graduateSchool LIKE '%${ graduateschool}%'  
		  		  </if>
		  		  <if test="professional != null and professional != ''">
		  		  	AND professional LIKE '%${ professional}%'  
		  		  </if>
		  		  <if test="graduatiotime != null and graduatiotime != ''">
		  		  	AND graduatioTime LIKE '%${ graduatiotime}%'  
		  		  </if>
		  		  <if test="natureacademicqualifications != null and natureacademicqualifications != ''">
		  		  	AND natureAcademicQualifications LIKE '%${ natureacademicqualifications}%'  
		  		  </if>
		  		  <if test="joinworktime != null and joinworktime != ''">
		  		  	AND joinWorkTime LIKE '%${ joinworktime}%'  
		  		  </if>
		  		  <if test="entercompanytime != null and entercompanytime != ''">
		  		  	AND enterCompanyTime LIKE '%${ entercompanytime}%'  
		  		  </if>
		  		  <if test="operatpost != null and operatpost != ''">
		  		  	AND operatPost LIKE '%${ operatpost}%'  
		  		  </if>
		  		  <if test="jobposition != null and jobposition != ''">
		  		  	AND jobPosition LIKE '%${ jobposition}%'  
		  		  </if>
		  		  <if test="durationemptime != null and durationemptime != ''">
		  		  	AND durationEmpTime LIKE '%${ durationemptime}%'  
		  		  </if>
		  		  <if test="politicallandscape != null and politicallandscape != ''">
		  		  	AND politicalLandscape LIKE '%${ politicallandscape}%'  
		  		  </if>
		  		  
		</where>
	</select>
	 
	<insert id="save" parameterType="com.fc.crm.domain.EmployeeInfoDO">
				<!-- 
		<selectKey keyProperty="phonenumber" resultType="Integer" order="BEFORE"> 
            SELECT sys_seq('t_employee_info') 
    	</selectKey> -->
    	    	
		insert into t_employee_info 
		(
		
			phoneNumber, 
			idCard, 
			nation, 
			huKouType, 
			maritalStatus, 
			emergencyContact, 
			emergencyContactPhone, 
			highestDegree, 
			graduateSchool, 
			professional, 
			graduatioTime, 
			natureAcademicQualifications, 
			joinWorkTime, 
			enterCompanyTime, 
			operatPost, 
			jobPosition, 
			durationEmpTime, 
			politicalLandscape
		)
		values
		(
		
		    sys_seq('t_employee_info')  , 		    
			#{idcard, jdbcType=VARCHAR}, 			
			#{nation, jdbcType=VARCHAR}, 			
			#{hukoutype, jdbcType=VARCHAR}, 			
			#{maritalstatus, jdbcType=VARCHAR}, 			
			#{emergencycontact, jdbcType=VARCHAR}, 			
			#{emergencycontactphone, jdbcType=VARCHAR}, 			
			#{highestdegree, jdbcType=VARCHAR}, 			
			#{graduateschool, jdbcType=VARCHAR}, 			
			#{professional, jdbcType=VARCHAR}, 			
			#{graduatiotime, jdbcType=VARCHAR}, 			
			#{natureacademicqualifications, jdbcType=VARCHAR}, 			
			#{joinworktime, jdbcType=VARCHAR}, 			
			#{entercompanytime, jdbcType=VARCHAR}, 			
			#{operatpost, jdbcType=VARCHAR}, 			
			#{jobposition, jdbcType=VARCHAR}, 			
			#{durationemptime, jdbcType=VARCHAR}, 			
			#{politicallandscape, jdbcType=VARCHAR}			
		)
	</insert>
	 
	<update id="update" parameterType="com.fc.crm.domain.EmployeeInfoDO">
		update t_employee_info 
		<set>
			<if test="idcard != null">idCard = #{idcard}, </if>
			<if test="nation != null">nation = #{nation}, </if>
			<if test="hukoutype != null">huKouType = #{hukoutype}, </if>
			<if test="maritalstatus != null">maritalStatus = #{maritalstatus}, </if>
			<if test="emergencycontact != null">emergencyContact = #{emergencycontact}, </if>
			<if test="emergencycontactphone != null">emergencyContactPhone = #{emergencycontactphone}, </if>
			<if test="highestdegree != null">highestDegree = #{highestdegree}, </if>
			<if test="graduateschool != null">graduateSchool = #{graduateschool}, </if>
			<if test="professional != null">professional = #{professional}, </if>
			<if test="graduatiotime != null">graduatioTime = #{graduatiotime}, </if>
			<if test="natureacademicqualifications != null">natureAcademicQualifications = #{natureacademicqualifications}, </if>
			<if test="joinworktime != null">joinWorkTime = #{joinworktime}, </if>
			<if test="entercompanytime != null">enterCompanyTime = #{entercompanytime}, </if>
			<if test="operatpost != null">operatPost = #{operatpost}, </if>
			<if test="jobposition != null">jobPosition = #{jobposition}, </if>
			<if test="durationemptime != null">durationEmpTime = #{durationemptime}, </if>
			<if test="politicallandscape != null">politicalLandscape = #{politicallandscape}</if>
		</set>
		where phoneNumber = #{phonenumber}
	</update>
	
	<delete id="remove">
		delete from t_employee_info where phoneNumber = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from t_employee_info where phoneNumber in 
		<foreach item="phonenumber" collection="array" open="(" separator="," close=")">
			#{phonenumber}
		</foreach>
	</delete>

</mapper>