<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fc.crm.dao.EmployeeInfoDao">

	<select id="get" resultType="com.fc.crm.domain.EmployeeInfoDO">
		SELECT 
			phone_Number,card_Id,employee_Type,nation,hu_Kou_Type,marital_Status,emergency_Contact,emergency_Contact_Phone,highest_Degree,graduate_School,professional,graduation_Time,nature_Academic_Qualifications,join_Work_Time,enter_Company_Time,work_Post,job_Position,duration_Emp_Time,political_Landscape,
		user_id,username,name,password,dept_id,email,mobile,status,user_id_create,gmt_create,gmt_modified,sex,birth,pic_id,live_address,hobby,province,city,district
		FROM t_employee_info emp, sys_user u where emp.phone_Number = u.username
		and phone_Number = #{value}
	</select>

	<select id="list" resultType="com.fc.crm.domain.EmployeeInfoDO">
		SELECT 
			phone_Number, card_Id, employee_Type, nation, hu_Kou_Type, marital_Status, emergency_Contact, emergency_Contact_Phone, highest_Degree, graduate_School, professional, graduation_Time, nature_Academic_Qualifications, join_Work_Time, enter_Company_Time, work_Post, job_Position, duration_Emp_Time, political_Landscape,
		user_id,username,name,password,dept_id,email,mobile,status,user_id_create,gmt_create,gmt_modified,sex,birth,pic_id,live_address,hobby,province,city,district
		FROM t_employee_info emp, sys_user u
        <where>
				  <if test="true">
					  and emp.phone_Number = u.username
				  </if>
		  		  <if test="phoneNumber != null and phoneNumber != ''">
		  		  	AND phone_Number LIKE '%${ phoneNumber}%'  
		  		  </if>
		  		  <if test="cardId != null and cardId != ''">
		  		  	AND card_Id LIKE '%${ cardId}%'  
		  		  </if>
		  		  <if test="employeeType != null and employeeType != ''">
		  		  	AND employee_Type LIKE '%${ employeeType}%'  
		  		  </if>
		  		  <if test="nation != null and nation != ''">
		  		  	AND nation LIKE '%${ nation}%'  
		  		  </if>
		  		  <if test="huKouType != null and huKouType != ''">
		  		  	AND hu_Kou_Type LIKE '%${ huKouType}%'  
		  		  </if>
		  		  <if test="maritalStatus != null and maritalStatus != ''">
		  		  	AND marital_Status LIKE '%${ maritalStatus}%'  
		  		  </if>
		  		  <if test="emergencyContact != null and emergencyContact != ''">
		  		  	AND emergency_Contact LIKE '%${ emergencyContact}%'  
		  		  </if>
		  		  <if test="emergencyContactPhone != null and emergencyContactPhone != ''">
		  		  	AND emergency_Contact_Phone LIKE '%${ emergencyContactPhone}%'  
		  		  </if>
		  		  <if test="highestDegree != null and highestDegree != ''">
		  		  	AND highest_Degree LIKE '%${ highestDegree}%'  
		  		  </if>
		  		  <if test="graduateSchool != null and graduateSchool != ''">
		  		  	AND graduate_School LIKE '%${ graduateSchool}%'  
		  		  </if>
		  		  <if test="professional != null and professional != ''">
		  		  	AND professional LIKE '%${ professional}%'  
		  		  </if>
		  		  <if test="graduationTime != null and graduationTime != ''">
		  		  	AND graduation_Time LIKE '%${ graduationTime}%'  
		  		  </if>
		  		  <if test="natureAcademicQualifications != null and natureAcademicQualifications != ''">
		  		  	AND nature_Academic_Qualifications LIKE '%${ natureAcademicQualifications}%'  
		  		  </if>
		  		  <if test="joinWorkTime != null and joinWorkTime != ''">
		  		  	AND join_Work_Time LIKE '%${ joinWorkTime}%'  
		  		  </if>
		  		  <if test="enterCompanyTime != null and enterCompanyTime != ''">
		  		  	AND enter_Company_Time LIKE '%${ enterCompanyTime}%'  
		  		  </if>
		  		  <if test="workPost != null and workPost != ''">
		  		  	AND work_Post LIKE '%${ workPost}%'  
		  		  </if>
		  		  <if test="jobPosition != null and jobPosition != ''">
		  		  	AND job_Position LIKE '%${ jobPosition}%'  
		  		  </if>
		  		  <if test="durationEmpTime != null and durationEmpTime != ''">
		  		  	AND duration_Emp_Time LIKE '%${ durationEmpTime}%'  
		  		  </if>
		  		  <if test="politicalLandscape != null and politicalLandscape != ''">
		  		  	AND political_Landscape LIKE '%${ politicalLandscape}%'  
		  		  </if>
		  		  
		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                ORDER BY ${sort} ${order}
            </when>
			<otherwise>
                ORDER BY phone_Number DESC
			</otherwise>
        </choose>
	</select>
	
 	<select id="findDataList" resultType="Map">
		select 
			*  
		from t_employee_info
		 <where>  
		 
		   		  <if test="phoneNumber != null and phoneNumber != ''">
		  		  	AND phone_Number LIKE '%${ phoneNumber}%'  
		  		  </if>
		  		  <if test="cardId != null and cardId != ''">
		  		  	AND card_Id LIKE '%${ cardId}%'  
		  		  </if>
		  		  <if test="employeeType != null and employeeType != ''">
		  		  	AND employee_Type LIKE '%${ employeeType}%'  
		  		  </if>
		  		  <if test="nation != null and nation != ''">
		  		  	AND nation LIKE '%${ nation}%'  
		  		  </if>
		  		  <if test="huKouType != null and huKouType != ''">
		  		  	AND hu_Kou_Type LIKE '%${ huKouType}%'  
		  		  </if>
		  		  <if test="maritalStatus != null and maritalStatus != ''">
		  		  	AND marital_Status LIKE '%${ maritalStatus}%'  
		  		  </if>
		  		  <if test="emergencyContact != null and emergencyContact != ''">
		  		  	AND emergency_Contact LIKE '%${ emergencyContact}%'  
		  		  </if>
		  		  <if test="emergencyContactPhone != null and emergencyContactPhone != ''">
		  		  	AND emergency_Contact_Phone LIKE '%${ emergencyContactPhone}%'  
		  		  </if>
		  		  <if test="highestDegree != null and highestDegree != ''">
		  		  	AND highest_Degree LIKE '%${ highestDegree}%'  
		  		  </if>
		  		  <if test="graduateSchool != null and graduateSchool != ''">
		  		  	AND graduate_School LIKE '%${ graduateSchool}%'  
		  		  </if>
		  		  <if test="professional != null and professional != ''">
		  		  	AND professional LIKE '%${ professional}%'  
		  		  </if>
		  		  <if test="graduationTime != null and graduationTime != ''">
		  		  	AND graduation_Time LIKE '%${ graduationTime}%'  
		  		  </if>
		  		  <if test="natureAcademicQualifications != null and natureAcademicQualifications != ''">
		  		  	AND nature_Academic_Qualifications LIKE '%${ natureAcademicQualifications}%'  
		  		  </if>
		  		  <if test="joinWorkTime != null and joinWorkTime != ''">
		  		  	AND join_Work_Time LIKE '%${ joinWorkTime}%'  
		  		  </if>
		  		  <if test="enterCompanyTime != null and enterCompanyTime != ''">
		  		  	AND enter_Company_Time LIKE '%${ enterCompanyTime}%'  
		  		  </if>
		  		  <if test="workPost != null and workPost != ''">
		  		  	AND work_Post LIKE '%${ workPost}%'  
		  		  </if>
		  		  <if test="jobPosition != null and jobPosition != ''">
		  		  	AND job_Position LIKE '%${ jobPosition}%'  
		  		  </if>
		  		  <if test="durationEmpTime != null and durationEmpTime != ''">
		  		  	AND duration_Emp_Time LIKE '%${ durationEmpTime}%'  
		  		  </if>
		  		  <if test="politicalLandscape != null and politicalLandscape != ''">
		  		  	AND political_Landscape LIKE '%${ politicalLandscape}%'  
		  		  </if>
		  		  
		</where>
	</select>
	 
	<insert id="save" parameterType="com.fc.crm.domain.EmployeeInfoDO">
				<!-- 
		<selectKey keyProperty="phoneNumber" resultType="Integer" order="BEFORE"> 
            SELECT sys_seq('t_employee_info') 
    	</selectKey> -->
    	    	
		insert into t_employee_info 
		(
		
			phone_Number, 
			card_Id, 
			employee_Type, 
			nation, 
			hu_Kou_Type, 
			marital_Status, 
			emergency_Contact, 
			emergency_Contact_Phone, 
			highest_Degree, 
			graduate_School, 
			professional, 
			graduation_Time, 
			nature_Academic_Qualifications, 
			join_Work_Time, 
			enter_Company_Time, 
			work_Post, 
			job_Position, 
			duration_Emp_Time, 
			political_Landscape
		)
		values
		(
		
		    sys_seq('t_employee_info')  , 		    
			#{cardId, jdbcType=VARCHAR}, 			
			#{employeeType, jdbcType=VARCHAR}, 			
			#{nation, jdbcType=VARCHAR}, 			
			#{huKouType, jdbcType=VARCHAR}, 			
			#{maritalStatus, jdbcType=VARCHAR}, 			
			#{emergencyContact, jdbcType=VARCHAR}, 			
			#{emergencyContactPhone, jdbcType=VARCHAR}, 			
			#{highestDegree, jdbcType=VARCHAR}, 			
			#{graduateSchool, jdbcType=VARCHAR}, 			
			#{professional, jdbcType=VARCHAR}, 			
			#{graduationTime, jdbcType=VARCHAR}, 			
			#{natureAcademicQualifications, jdbcType=VARCHAR}, 			
			#{joinWorkTime, jdbcType=VARCHAR}, 			
			#{enterCompanyTime, jdbcType=VARCHAR}, 			
			#{workPost, jdbcType=VARCHAR}, 			
			#{jobPosition, jdbcType=VARCHAR}, 			
			#{durationEmpTime, jdbcType=VARCHAR}, 			
			#{politicalLandscape, jdbcType=VARCHAR}			
		)
	</insert>
	 
	<update id="update" parameterType="com.fc.crm.domain.EmployeeInfoDO">
		update t_employee_info 
		<set>
			<if test="cardId != null">card_Id = #{cardId}, </if>
			<if test="employeeType != null">employee_Type = #{employeeType}, </if>
			<if test="nation != null">nation = #{nation}, </if>
			<if test="huKouType != null">hu_Kou_Type = #{huKouType}, </if>
			<if test="maritalStatus != null">marital_Status = #{maritalStatus}, </if>
			<if test="emergencyContact != null">emergency_Contact = #{emergencyContact}, </if>
			<if test="emergencyContactPhone != null">emergency_Contact_Phone = #{emergencyContactPhone}, </if>
			<if test="highestDegree != null">highest_Degree = #{highestDegree}, </if>
			<if test="graduateSchool != null">graduate_School = #{graduateSchool}, </if>
			<if test="professional != null">professional = #{professional}, </if>
			<if test="graduationTime != null">graduation_Time = #{graduationTime}, </if>
			<if test="natureAcademicQualifications != null">nature_Academic_Qualifications = #{natureAcademicQualifications}, </if>
			<if test="joinWorkTime != null">join_Work_Time = #{joinWorkTime}, </if>
			<if test="enterCompanyTime != null">enter_Company_Time = #{enterCompanyTime}, </if>
			<if test="workPost != null">work_Post = #{workPost}, </if>
			<if test="jobPosition != null">job_Position = #{jobPosition}, </if>
			<if test="durationEmpTime != null">duration_Emp_Time = #{durationEmpTime}, </if>
			<if test="politicalLandscape != null">political_Landscape = #{politicalLandscape}</if>
		</set>
		where phone_Number = #{phoneNumber}
	</update>
	
	<delete id="remove">
		delete from t_employee_info where phone_Number = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from t_employee_info where phone_Number in 
		<foreach item="phoneNumber" collection="array" open="(" separator="," close=")">
			#{phoneNumber}
		</foreach>
	</delete>

</mapper>