<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-body">
                <div role="group">
                    <div class="form-group col-sm-4">
                        <label class="col-sm-4 control-label"
                               style="margin-top: 6px;padding-left: 13px;padding-right: 0px" title="标题">标题</label>
                        <div class="col-sm-8">
                            <input id="title" type="text" class="form-control" placeholder="标题">
                        </div>
                    </div>

                    <div class="form-group col-sm-4">
                        <label class="col-sm-4 control-label"
                               style="margin-top: 6px;padding-left: 13px;padding-right: 0px" title="作者">作者</label>
                        <div class="col-sm-8">
                            <input id="author" type="text" class="form-control" placeholder="作者">
                        </div>
                    </div>

                    <div class="form-group col-sm-4">
                        <label class="col-sm-4 control-label" style="margin-top: 6px">开启评论</label>
                        <div class="col-sm-8">
                            <select id="allowComment" class="selectpicker show-tick form-control"
                                    data-live-search="true">
                                <option value="">请选择</option>
                                <option value="1">是</option>
                                <option value="0">否</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group col-sm-4">
                        <label class="control-label col-sm-4" style="margin-top: 6px">修改时间:</label>
                        <div class="col-sm-4">
                            <input type="text" class="laydate-icon layer-date form-control" id="timeStart"
                                   name="timeStart" placeholder="开始日期"
                                   onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"
                                   style="background-color: #fff;" readonly="readonly"/>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="laydate-icon layer-date form-control" id="timeEnd" name="timeEnd"
                                   placeholder="结束日期"
                                   onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"
                                   style="background-color: #fff;" readonly="readonly"/>
                        </div>
                    </div>

                    <div class="form-group col-sm-4">
                        <button class="btn btn-success" onclick="reLoad()">查询</button>
                        <button class="btn btn-danger" onclick="reSet()">重置</button>
                    </div>

                    <div class="fixed-table-toolbar">
                        <div class="pull-left" id="exampleToolbar">
                            <button shiro:hasPermission="blog:bContent:add" type="button" class="btn  btn-primary"
                                    onclick="add()">
                                <i class="fa fa-plus" aria-hidden="true"></i>添加
                            </button>
                            <button shiro:hasPermission="blog:bContent:batchRemove" type="button"
                                    class="btn  btn-danger"
                                    onclick="batchRemove()">
                                <i class="fa fa-trash" aria-hidden="true"></i>删除
                            </button>
                            <button type="button" class="btn  btn-info"
                                    onclick="upload()">
                                <i class="fa fa-upload"></i>上传文件
                            </button>
                        </div>
                    </div>
                </div>
                <table id="exampleTable" data-mobile-responsive="true">
                </table>
            </div>
        </div>
    </div>
    <!--shiro控制bootstraptable行内按钮看见性 来自fc的创新方案 -->
    <div>
        <script type="text/javascript">
            var s_edit_h = 'hidden';
            var s_remove_h = 'hidden';
        </script>
    </div>
    <div shiro:hasPermission="blog:bContent:edit">
        <script type="text/javascript">
            s_edit_h = '';
        </script>
    </div>
    <div shiro:hasPermission="blog:bContent:remove">
        <script type="text/javascript">
            var s_remove_h = '';
        </script>
    </div>
</div>
<div th:include="include :: footer"></div>
<script type="text/javascript" th:src="@{/js/appjs/blog/bContent/bContent.js}"></script>
</body>
</html>