<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>add</title>
</head>
<body>
add Html web info

    <hr>
    获取项目的context-path-->${ctxPath}
    <hr>
    获取后台返回的数据--->${email}
    <hr>
    <%
var a =true;
var b = 1;
if(a&&b==1){

}else if(a){

}else{

}
%>
  	<hr>  
    <%
var b = 1;
select{
        case b<1,b>10:
                print("it's out of range");
                break;
        case b==1:
                print("it's 1");
                break;
        default:
                print("error");
}
%>

</body>
</html>