<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="col-sm-12" id="formSearch" name="formSearch">
        <div class="ibox">
            <div class="ibox-body">
                <div class="form-group col-sm-4">
                    <label class="col-sm-3 control-label">开始时间</label>
                    <div class="col-sm-9">
                        <input id="startTime" name="startTime" width="100%"
                               class="laydate-icon layer-date form-contro"
                               type="text" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"
                               style="background-color: #fff;" readonly="readonly" placeholder="开始时间">
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label class="col-sm-3 control-label" style="margin-top: 6px;">交办事项</label>
                    <div class="col-sm-9">
                        <input id="content" type="text" class="form-control" placeholder="交办事项">
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label class="col-sm-3 control-label" style="margin-top: 6px;">责任人</label>
                    <div class="col-sm-9">
                        <input id="personLiable" type="text" class="form-control" placeholder="责任人">
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label class="col-sm-3 control-label" style="margin-top: 6px;">结束时间</label>
                    <div class="col-sm-9">
                        <input id="endTime" name="endTime"
                               class="laydate-icon layer-date form-contro"
                               type="text" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"
                               style="background-color: #fff; width: 100%" readonly="readonly" placeholder="结束时间">
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label class="col-sm-3 control-label" style="margin-top: 6px;">跟进情况</label>
                    <div class="col-sm-9">
                        <input id="remarks" type="text" class="form-control" placeholder="跟进情况">
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label class="col-sm-3 control-label" style="margin-top: 6px;">协助人</label>
                    <div class="col-sm-9">
                        <input id="helper" type="text" class="form-control" placeholder="协助人">
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <div class="pull-left">
                        <button id="btnAdd" shiro:hasPermission="crm:workPlan:add" type="button" class="btn btn-primary"
                                onclick="addWorkPlan()">
                            <i class="fa fa-plus" aria-hidden="true"></i>添加
                        </button>
                        <button id="btnDel" shiro:hasPermission="crm:workPlan:batchRemove" type="button" class="btn btn-danger"
                                onclick="batchRemove()">
                            <i class="fa fa-trash" aria-hidden="true"></i>删除
                        </button>
                    </div>
                    <div class="pull-right">
                        <button id="btnSearch" class="btn btn-success" onclick="reLoad()">查询</button>
                        <button id="btnReset" class="btn btn-danger" onclick="reSet()">重置</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="ibox ibox-body">
            <div class="ibox-title">
                <h5>选择部门</h5>
            </div>
            <div class="ibox-content">
                <div id="jstree"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <table id="exampleTable" data-mobile-responsive="true">
            <!--<thead>
				<tr>
					<th data-checkbox="true" ></th>
								<th data-field="id" data-align='center' data-sortable="true"></th>
								<th data-field="content" data-align='center' data-sortable="true">交办事项</th>
								<th data-field="deptId" data-align='center' data-sortable="true">部门Id</th>
								<th data-field="deptName" data-align='center' data-sortable="true">部门名称</th>
								<th data-field="startTime" data-align='center' data-sortable="true">开始时间</th>
								<th data-field="endTime" data-align='center' data-sortable="true">结束时间</th>
								<th data-field="schedule" data-align='center' data-sortable="true">完成进度</th>
								<th data-field="personLiable" data-align='center' data-sortable="true">责任人</th>
								<th data-field="helper" data-align='center' data-sortable="true">协助人</th>
								<th data-field="remarks" data-align='center' data-sortable="true">备注</th>
								<th data-field="remindType" data-align='center' data-sortable="true">提醒方式，任务开始后，每天提醒？还是如何提醒</th>
								<th data-field="state" data-align='center' data-sortable="true">状态</th>
								<th data-field="level" data-align='center' data-sortable="true">级别</th>
								<th data-field="taskAnnex" data-align='center' data-sortable="true">任务附件名，使用“??”（两个英文的问号）隔开</th>
								<th data-field="taskAnnexPath" data-align='center' data-sortable="true">任务附件名</th>
								<th data-field="executeAnnex" data-align='center' data-sortable="true">任务附件名</th>
								<th data-field="executeAnnexPath" data-align='center' data-sortable="true">任务附件名</th>
									<th data-field="operate" data-align='center' data-formatter="operateFormatter" data-events="operateEvent">操作</th>
		 		</tr>
			</thead>-->
        </table>
    </div>
</div>
<!--shiro控制bootstraptable行内按钮看见性 来自fc的创新方案 -->
<div>
    <script type="text/javascript">
        var s_edit_h = 'hidden';
        var s_remove_h = 'hidden';
        var s_resetPwd_h = 'hidden';
    </script>
</div>
<div shiro:hasPermission="crm:workPlan:edit">
    <script type="text/javascript">
        s_edit_h = '';
    </script>
</div>
<div shiro:hasPermission="crm:workPlan:remove">
    <script type="text/javascript">
        var s_remove_h = '';
    </script>
</div>
<div shiro:hasPermission="crm:workPlan:resetPwd">
    <script type="text/javascript">
        var s_resetPwd_h = '';
    </script>
</div>
</div>
<div th:include="include :: footer"></div>
<script type="text/javascript" th:src="@{/js/appjs/common/utils/ijstree.js}"></script>
<script type="text/javascript" th:src="@{/js/appjs/crm/workPlan/workPlan_list.js}"></script>
</body>
</html>