<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <input id="id" name="id" th:value="${workPlan.id}" type="hidden"/>
                        <input id="deptId" name="deptId" th:value="${workPlan.deptId}" type="hidden"/>
                        <input id="helper" name="helper" th:value="${workPlan.helper}" type="hidden">
                        <input id="personLiable" name="personLiable" th:value="${workPlan.personLiable}" type="hidden">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">交办事项：</label>
                            <div class="col-sm-8">
                                <textarea id="content" name="content"
                                          th:text="${workPlan.content}" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">部门名称：</label>
                            <div class="col-sm-8">
                                <input id="deptName" name="deptName" th:value="${workPlan.deptName}"
                                       class="form-control" type="text" readonly="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">开始时间：</label>
                            <div class="col-sm-8">
                                <input id="startTime" name="startTime" th:value="${workPlan.startTime}"
                                       class="laydate-icon layer-date form-contro"
                                       type="text" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"
                                       style="background-color: #fff;" readonly="readonly" placeholder="开始时间">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">结束时间：</label>
                            <div class="col-sm-8">
                                <input id="endTime" name="endTime"
                                       class="laydate-icon layer-date form-contro" th:value="${workPlan.endTime}"
                                       type="text" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"
                                       style="background-color: #fff;" placeholder="结束时间">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">完成进度：</label>
                            <div class="col-sm-8">
                                <input id="schedule" name="schedule" th:value="${workPlan.schedule}"
                                       class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">责任人：</label>
                            <div class="col-sm-8">
                                <input id="personLiableName" name="personLiableName" th:value="${workPlan.personLiableName}"
                                       class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">协助人：</label>
                            <div class="col-sm-8">
                                <input id="helperName" name="helperName" th:value="${workPlan.helperName}" class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">备注：</label>
                            <div class="col-sm-8">
                                <input id="remarks" name="remarks" th:value="${workPlan.remarks}" class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">提醒方式：</label>
                            <div class="col-sm-8">
                                <input id="remindType" name="remindType" th:value="${workPlan.remindType}"
                                       class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">级别：</label>
                            <div class="col-sm-8">
                                <input id="level" name="level" th:value="${workPlan.level}" class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">任务附件：</label>
                            <div class="col-sm-8">
                                <input id="taskAnnex" name="taskAnnex" th:value="${workPlan.taskAnnex}"
                                       class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">完成附件：</label>
                            <div class="col-sm-8">
                                <input id="executeAnnex" name="executeAnnex" th:value="${workPlan.executeAnnex}"
                                       class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" th:src="@{/js/appjs/crm/workPlan/workPlan_edit.js}">
</script>
</body>
</html>
